<div class="list" [class.action-button-visible]="isActionButtonVisible">
  <div class="item" *ngFor="let item of items" (touchstart)="onTouchStart($event, item.id)"
    (touchmove)="onTouchMove($event, item.id)" (touchend)="onTouchEnd($event, item.id)">

    <div class="item-icon">
      <ng-icon [name]="item.icon"></ng-icon>
    </div>

    <div class="item-content" (click)="onItemClick(item)">
      <h4><b>{{ item.title }}</b></h4>
      <span *ngIf="item.description">{{ item.description }}</span>
    </div>

    <div class="item-action" [style.right.px]="actionButtonPosition[item.id]">
      <ng-icon name="heroTrash"></ng-icon>
    </div>
  </div>
</div>
