<div class="mt-8 mb-8">
  <h1>Adicionar item</h1>
</div>

<form [formGroup]="form" class="form" autocomplete="off">
  <div class="grid-container">
    <div class="relative mb-3">
      <app-s-autocomplete id="name" label="Nome" placeholder="Pesquise o item." [maxlength]="20"></app-s-autocomplete>
    </div>

    <div class="relative mb-3 end">
      <app-s-select id="qtd" label="Qtd" placeholder="0" [selectOptions]="['1', '2', '3', '4', '5']"></app-s-select>
    </div>

    <div class="relative mb-3 category">
    </div>

    <div class="relative mb-3 category">
      <app-s-input-text id="category" label="Categoria" placeholder="Digite a categoria do item." [maxlength]="100"></app-s-input-text>
    </div>
  </div>
</form>
