@import 'src/assets/styles/colors.scss';

h1 {
  line-height: 1.2;
  font-size: 24px;
  font-weight: 700;
  color: $color-default;
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 20px;
  max-width: calc(100% - 20px);

  div {
    width: auto;

    .end {
      text-align: left;
    }

  }

  .category {
    grid-column: 1 / span 2;
  }
}

.relative {
  position: relative;
  margin-bottom: 1rem;
}
