button {
  outline: none;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 15px;
  z-index: 1;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  & span {
    padding-left: 12px;
  }
}

.active {
  opacity: 1;
  font-weight: bold;
  padding: 10px;
  background-color: #ffdaff;
  border-radius: 8px;
  color: #a406da;
  display: flex;
  align-items: center;

  transition: opacity 0.5s ease, transform 0.5s ease;
}

.active.left {
  transform: translateX(-10px);
}

.active.right {
  transform: translateX(10px);
}
