<nav class="bottom-nav">
  <div>
    <div class="nav-container">
      <button routerLink="/page/home" routerLinkActive="active" [ngClass]="{ 'active': isActive('/page/home'), 'left': direction === 'left', 'right': direction === 'right' }">
        <ng-icon class="nav-container__icon" name="heroHome"></ng-icon>
        <span class="text" *ngIf="isActive('/page/home')">Home</span>
      </button>

      <button routerLink="/page/new" routerLinkActive="active" [ngClass]="{ 'active': isActive('/page/new'), 'left': direction === 'left', 'right': direction === 'right' }">
        <ng-icon class="nav-container__icon" name="heroPencilAlt"></ng-icon>
        <span class="text" *ngIf="isActive('/page/new')">Listas</span>
      </button>

      <button [ngClass]="{ 'active': isActive('/pagina3'), 'left': direction === 'left', 'right': direction === 'right' }">
        <ng-icon class="nav-container__icon" name="heroTicket"></ng-icon>
        <span class="text" *ngIf="isActive('/pagina3')">Mercado</span>
      </button>

      <button [ngClass]="{ 'active': isActive('/pagina4'), 'left': direction === 'left', 'right': direction === 'right' }">
        <ng-icon class="nav-container__icon" name="heroUser"></ng-icon>
        <span class="text" *ngIf="isActive('/pagina4')">Perfil</span>
      </button>

    </div>
  </div>
</nav>
