<div class="menu">
  <div class="hamburger" (click)="toggleSidebar()">
    <div class="hamburger__bar"></div>
    <div class="hamburger__bar"></div>
    <div class="hamburger__bar"></div>
  </div>

  <div class="overlay" [class.open]="sidebarOpen" (click)="closeSidebar()"></div>
  <div class="sidebar" [class.open]="sidebarOpen">

    <section class="menu__profile flex">
      <app-s-profile-photo type="small" [profilePhoto]="profile.photo || 'assets/img/icon/user.svg'"></app-s-profile-photo>
      <section class="menu__information">
        <p class="menu__information-name">{{profile.name | textLimit:10:false}}</p>
        <span class="menu__information-email">{{profile.email}}</span>
      </section>
    </section>


    <ng-container *ngFor="let menu of menuItems; let i = index">
      <ng-container *ngFor="let section of getObjectKeys(menu)">
        <div class="menu__divider"></div>
        <a class="sidebar-link"
          *ngFor="let item of getMenuSection(menu, section)"
          [class.selected]="isSelectedMenu(item.routerLink)"
          (click)="selectMenu(item.routerLink)">
          <ng-icon [name]="item.icon"></ng-icon>
          <span>{{ item.label }}</span>
        </a>
      </ng-container>
    </ng-container>

    <section class="menu__footer">
      versão do app {{version}}
    </section>

  </div>
</div>
