@import '../../../../assets/styles/colors.scss';

.header {
  display: flex;
  align-items: center;
  margin: 16px;
  margin-bottom: 0;
  padding-bottom: 16px;
  border-bottom: 1px solid $color-disabled-background;
}
