<!-- <button class="w-full bg-indigo-700 text-white font-bold py-2 px-4 rounded-lg font-sans">
  Fazer login
</button> -->

<!-- button.component.html -->
<button
  class="button"
  [class.loading]="loading"
  [ngClass]="getTypeClass()"
  [disabled]="disabled">
  <span *ngIf="loading" class="loading-spinner button__icon">
    <ng-icon class="button__refresh" [name]="themeInfo.icon"></ng-icon>
  </span>

  <span *ngIf="!loading" class="button__icon">
    <ng-icon [name]="themeInfo.icon"></ng-icon>
  </span>

  <ng-content></ng-content>
</button>

