@import '/src/assets/styles/colors.scss';

app-s-button{
  border: none;
}

button:focus {
  outline: 0 dotted;
  outline: 2 auto $primary-color;
}

.button {
  font-weight: 700;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  align-items: center;
  border: none;
  filter: none;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    color: $color-disabled-text !important;
    background-color: $color-disabled-background !important;
  }

  &.full-size {
    width: 100%;
    justify-content: center;
  }

  &.square-size {
    padding: 1rem !important;

    .button__icon {
      margin: 0 auto;
    }
  }

  &.type-dark, &.type-light, &.type-inline {
    padding: 0.7rem 1.5rem;
  }

  &.type-dark {
    background-color: $primary-color;
    color: $color-white;
  }

  &.type-light {
    background-color: $color-button-light;
    color: $primary-color;
  }

  &.type-inline {
    background-color: $color-white;
    color: $primary-color;
    border: 1px solid $color-disabled-background;
  }

  &.type-link {
    background-color: $color-white;
    color: $primary-color;
  }

  &.loading {
    cursor: not-allowed;
    opacity: 0.7;
  }

  &__refresh {
    animation: rotate 1s linear infinite;
  }

  &__icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loading-spinner {
    font-size: 14px;
  }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
