<main class="error h-full">
  <section class="error-fullscreen">

    <div class="error-s-logo">
      <img src="assets/img/logo/s-logo-n.svg" alt="Sebastian, seu app de gerenciamento">
    </div>

    <div class="flex-auto mb-4 pb-2">
      <h1 class="text-xl font-bold text-left text-blueGray-800 text-center">Ainda estamos trabalhando na versão para desktop desta página. </h1>
      <p class="text-center">Enquanto isso, você pode acessá-la no seu celular!</p>
    </div>

    <div class="error-image">
      <img src="assets/img/ilustracoes/close-store.svg" alt="Acesse o site pelo navegador do seu celular para acessar e explore as funcionalidades disponíveis">
    </div>

  </section>

</main>
