$primary-color: rgb(87 72 174);
$color-default: rgb(29 33 37);
$color-subdued: rgb(89 103 115);
$color-disabled: rgb(240 240 240);
$color-enabled: rgb(255, 255, 255);
$color-success: rgb(0 128 0);

$color-disabled-text: rgb(133 144 162);
$color-disabled-background: rgb(241 242 244);
