@import '/src/assets/styles/colors.scss';

.badge {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 16px;
  color: white;
  font-size: 14px;

  &-topic-highlighter {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background: red;
    margin-right: 10px;
  }

  &-icon-highlighter {
    margin-left: 10px;
    font-size: 18px;
  }

  .primary {
    background-color: $color-badge-purple;
  }

  .secondary {
    background-color: $color-badge-red;
  }

  .tertiary {
    background-color: $color-badge-yellow;
  }

  .quartenary{
    background-color: $color-badge-green;
  }
}


