@import '../../../../assets/styles/colors.scss';

.s-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9000;

  &__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9001;
    background-color: $color-white;
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9002;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &__logo {
    width: 140px;
    height: 70px;
    background-image: url('../../../../assets/img/logo/s-logo-n.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__animation {
    display: flex;
    margin-top: 40px;
    width: 340px;
    height: 8px;
    border-radius: 5px;
    overflow: hidden;

    &__child {
      height: 100%;
    width: 0;
    background-color: $primary-color;
    animation: progress 4s infinite ease-in-out;
    }
  }
}

@keyframes progress {
  0% {
    width: 0;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
