<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full pb-8">
    <div class="w-full lg:w-4/12 px-4">
      <div class="relative flex flex-col min-w-0 break-words w-full rounded-lg border-0">

        <div class="">
          <img src="assets/img/svg/access.svg" alt="Acesse sua conta agora e comece a gerenciar suas compras de onde estiver!">
        </div>

        <div class="flex-auto lg:px-10 pb-10">
          <div class="text-blueGray-400 text-center mb-3 font-bold pb-2">
            <h1 class="text-2xl font-bold tracking-tight text-left text-blueGray-800">Acesse sua conta</h1>
          </div>

          <form [formGroup]="form" autocomplete="off">
            <div class="relative w-full mb-3">
              <app-s-input-text id="user" label="E-mail" placeholder="Digite seu e-mail"></app-s-input-text>
            </div>

            <div class="relative w-full mb-3">
              <app-s-input-text id="password" label="Senha" placeholder="Digite sua senha"></app-s-input-text>
            </div>

            <div class="flex flex-row justify-end pb-4">
              <div class="flex">
                <button class="text-indigo-700 font-bold" type="button">
                  Esqueceu a senha?
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="flex-auto">
          <div class="index__content-button grid-cols-12">
            <button class="w-full bg-indigo-700 text-white font-bold py-2 px-4 rounded font-sans"
              [routerLink]="['/admin/config']">
              Fazer login
            </button>
          </div>
          <div class="p-4 text-center text-lg">
            <small>Ou</small>
          </div>
          <div class="index__content-button grid-cols-12">
            <button
              class="w-full bg-white text-indigo-700 font-bold py-2 px-4 rounded font-sans border-1 border-indigo-700"
              [routerLink]="['/auth/login']">
              Acessar com o google
            </button>
          </div>
        </div>

        <div class="flex flex-wrap mt-12 relative justify-around items-center">
          <small class="text-lg text-blueGray-500">Não possui uma conta? </small><a
            class="text-indigo-700 text-lg font-bold" [routerLink]="['/auth/register']"> Criar conta</a>
        </div>

      </div>
    </div>
  </div>
</div>
