.welcome {
    &-footer {
      display: flex;
      justify-content: flex-end;
      margin: 32px 0;

      &__buttons {
        display: flex;
        width: 70%;
        justify-content: space-between;
      }
    }
}


