@import '../../../../assets/styles/colors.scss';

.register {
    &-image {
        position: absolute;
        top: 30px;
        right: 0;
    }

    &-content{
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      padding: 14px;
      background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)); /* Gradiente transparente para branco */
      backdrop-filter: blur(10px);
    }
}

.errors-messages {
  &-gray {
    color: $color-subdued;
  }

  &-green {
    color: $color-success;
  }
}
