#password-strength {
  height: 10px;
  width: 0;
  margin-top: 5px;
  transition: width 0.3s;
}

#password-strength.weak {
  background-color: red;
}

#password-strength.medium {
  background-color: orange;
}

#password-strength.strong {
  background-color: green;
}
