@import '../../../../assets/styles/colors.scss';

.register {
    &-image {
        position: absolute;
        top: 30px;
        right: 0;
    }

    &-content{
        position: absolute;
        top: 200px;
        left: 0;
        width: 100%;
        padding: 32px;
        padding-bottom: 0;
    }
}

.errors-messages {
  &-gray {
    color: $color-subdued;
  }

  &-green {
    color: $color-success;
  }
}
