<div class="step slide-in" *ngIf="showCounter">
  <ng-container *ngFor="let step of steps; let i = index;">
    <div class="step-item">
      <div class="step-number"
           [class.active]="i === currentStep"
           [class.inactive]="i < currentStep"
           [class.completed]="i < currentStep">{{ i + 1 }}</div>
    </div>
    <hr class="step-separator" *ngIf="i !== steps.length - 1">
  </ng-container>
</div>

<ng-container *ngIf="theme === 'create-list'">
  <div class="carousel-item" [ngClass]="{ 'slide-in': currentStep.toString() === '0', 'slide-out': currentStep.toString() === '1' }" *ngIf="currentStep === 0">
    <ng-content select="[step='0']"></ng-content>
  </div>
  <div class="carousel-item" [ngClass]="{ 'slide-in-reverse': currentStep.toString() === '1', 'slide-out-reverse': currentStep.toString() === '0' }" *ngIf="currentStep === 1">
    <ng-content select="[step='1']"></ng-content>
  </div>
</ng-container>


<ng-container *ngIf="theme === ''">
  Olá, insira seu novo tema aqui.
</ng-container>

<div class="step-actions" class="mt-16">
  <!-- AÇÃO INICIAL -->
  <div class="mb-4" *ngIf="currentStep !== steps.length - 1">
    <app-s-button type="dark" size="full" (click)="goToStep(1)"
      [disabled]="currentStep === steps.length - 1">{{textButtons[0]}}</app-s-button>
  </div>

  <!-- AÇÃO OPCIONAL -->
  <div class="mb-4" *ngIf="currentStep === steps.length - 1 && actionButton">
    <app-s-button type="dark" size="full" (click)="action()">{{textButtons[1]}}</app-s-button>
  </div>

  <!-- VOLTAR -->
  <app-s-button *ngIf="currentStep > 0 && currentStep < steps.length - 1" type="light" size="full"
    (click)="goToStep(-1)" [disabled]="currentStep === 0">Voltar</app-s-button>

  <!-- VOLTAR -->
  <app-s-button *ngIf="currentStep === 0 || currentStep === steps.length -1" type="light" size="full" (click)="cancel()">
    {{ currentStep === 0 ? 'Cancelar' : 'Finalizar'}}
  </app-s-button>
</div>
