.password-input {
  position: relative;
}

input {
  border: 1px solid rgb(133 144 162);
}

.password-input input[type="password"] {
  padding-right: 40px; /* Espaço para o ícone de olho */
  border: 1px solid rgb(133 144 162);
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
