<ng-container *ngIf="itemCount > 0">
  <div class="carousel-item" *ngIf="currentStep === 0" [@slideAnimation]="animationState">
    <ng-content select="[step='0']"></ng-content>
    <button (click)="nextStep()">Seguir</button>
  </div>
  <div class="carousel-item" *ngIf="currentStep === 1" [@slideAnimation]="animationState">
    <ng-content select="[step='1']"></ng-content>
    <button (click)="previousStep()">Voltar</button>
    <button (click)="nextStep()">Seguir</button>
  </div>
</ng-container>
