<se-label *ngIf="label" [id]="id + '--label'" [target]="id + '--input'" [value]="label"
[required]="control?.errors?.required"></se-label>

<div class="password-input">
  <input
  autocomplete="off"
  [type]="type"
  [id]="id"
  [name]="name+'--field'"
  [formControlName]="formControlName"
  [minlength]="minlength"
  [maxlength]="maxlength"
  [placeholder]="placeholder"
  [readonly]="readonly"
  [autofocus]="autofocus"
  (focus)="focus.emit($event)"
  (blur)="blur.emit($event)"
  class="px-3 py-3 border-indigo-700 placeholder-blueGray-300 text-blueGray-600 rounded-lg w-full ease-linear transition-all duration-150"/>

  <div class="password-toggle" (click)="toggleShowPassword()" *ngIf="showPassword">
    <i class="fa" style="color: rgb(133 144 162)" [ngClass]="isPassword ? 'fa fa-eye-slash' : 'fa-eye'" aria-hidden="true"></i>
  </div>
</div>

<div *ngIf="messageError">
  <se-error [id]="id + '--error'" [control]="control" *ngIf="!messageError"></se-error>
</div>
