@import 'src/assets/styles/colors.scss';

h1 {
  line-height: 1.2;
  font-size: 24px;
  font-weight: 700;
  color: $color-default;
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.relative {
  position: relative;
  margin-bottom: 1rem;
}

.col-100 {
  grid-column: span 2;
}

.col-30,
.col-70 {
  grid-column: span 1;
}

.relative {
  position: relative;
  margin-bottom: 1rem;
}
