<div class="mt-8 mb-8">
  <h1>Adicionar item</h1>
</div>

<form [formGroup]="form" class="form" autocomplete="off">
  <div class="grid-container">
    <div class="relative col-100"> <!-- Coluna 1: 100% -->
      <app-s-autocomplete id="name" label="Nome" placeholder="Pesquise o item." [maxlength]="20"></app-s-autocomplete>
    </div>

    <div class="relative col-30"> <!-- Coluna 2: 40% -->
      <!-- <app-s-select id="measure" label="Medida" placeholder="Escolha a opção" [selectOptions]="['Unidade', 'Kilo', 'Grama', 'Litro', 'Milimitro']"></app-s-select> -->
      <app-multi-select></app-multi-select>
    </div>

    <div class="relative col-70 ml-3"> <!-- Coluna 3: 60% -->
      <app-s-input-quantity id="quantity" label="Quantidade" placeholder="0" [maxlength]="3"></app-s-input-quantity>
    </div>

    <div class="relative col-100"> <!-- Coluna 4: 100% -->
      <app-s-autocomplete id="category" label="Categoria" placeholder="Digite a categoria do item." [maxlength]="20"></app-s-autocomplete>
    </div>
  </div>


</form>
