.bg-gradient-app{
  background-image: radial-gradient(circle, #fff, #d3bcf891)
}

.index {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  &__header{
    overflow: hidden;

    &-image{
      width: 100%;
      overflow: hidden;
    }
  }
}
