<div class="horizontal-scroll-container">
  <div class="item" [style.width]="getItemWidth()" *ngFor="let item of items">

    <ng-container *ngIf="theme === 'card'">
      <div class="card">
        <div class="card-bagde" *ngIf="hasBadge">
          <app-s-bagde theme="default" ></app-s-bagde>
        </div>
        <div class="image-container-card">
          <img [src]="item?.image" [alt]="item.title">
        </div>
      </div>
      <h3><b>{{ item.title }}</b></h3>
      <span class="card-description">{{ item.description }}</span>
    </ng-container>

    <ng-container *ngIf="theme === 'list'">
      <div class="card">
        <div class="card-bagde" *ngIf="hasBadge">
          <app-s-bagde theme="default" ></app-s-bagde>
        </div>
        <img [src]="item?.image" [alt]="item.title">
      </div>
      <span class="card-description">{{ item.description }}</span>
    </ng-container>

    <ng-container *ngIf="theme === 'revenue'">
      <div class="card">
        <div class="card-bagde" *ngIf="hasBadge">
          <app-s-bagde theme="default" ></app-s-bagde>
        </div>
        <div class="image-container-revenue">
          <img [src]="item?.image" [alt]="item.title">
        </div>
      </div>
      <h3><b>{{ item.title }}</b></h3>
      <span class="card-description">{{ item.description }}</span>
    </ng-container>

  </div>
</div>

<div class="no-content" *ngIf="!items || items.length === 0">
  <h1 class="mb-2"><b>Você ainda não criou suas listas</b></h1>
  <span>{{help}}</span>

  <div class="no-content-button mt-8">
    <app-s-button type="light" size="normal" (click)="onClick()">{{textButton}}</app-s-button>
  </div>
</div>
