<div class="mt-8 mb-8">
  <h1>Criar lista</h1>
  <p class="mt-4">Organize e gerencie seus produtos em poucos passos!</p>
</div>

<form [formGroup]="form" autocomplete="off">
  <div class="relative mb-3">
    <app-s-input-text id="name" label="Nome da lista" placeholder="Dê um nome para sua lista." [maxlength]="20"
      [disableMessageError]="true"></app-s-input-text>
  </div>

  <div class="relative mb-3">
    <app-s-input-text id="description" label="Descrição" placeholder="Adicione uma breve descrição para sua lista."
      [maxlength]="100" [disableMessageError]="true"></app-s-input-text>
  </div>
</form>
