<div class="list">
  <div class="list-image">
    <img src="assets/img/ilustracoes/list.svg" alt="Sebastian - Gerenciador de compras" />
  </div>
  <div class="list-content">
    <p>A vida é muito mais fácil com uma lista. Crie a sua agora mesmo!</p>
  </div>

  <app-s-collapse #collapseContent [collapsed]="isCollapsed" textButton="Criar lista">
    <app-s-step
      theme="create-list"
      [steps]="['Criação de Lista', 'Criação de item']"
      [textButtons]="['Salvar', 'Adicionar outro']"
      (onCancel)="closedCollapse()">
      <div step="0"><app-form-list></app-form-list></div>
      <div step="1"><app-form-item></app-form-item></div>
    </app-s-step>
  </app-s-collapse>
</div>
