$primary-color: rgb(155 6 218);

$color-white: rgb(255, 255, 255);
$color-default: rgb(29 33 37);
$color-subdued: rgb(89 103 115);

$color-success: rgb(0 128 0);
$color-error: rgb(190 18 60);

$color-disabled-text: rgb(133 144 162);
$color-disabled-background: rgb(241 242 244);

// Button themes
$color-button-light: rgb(255 218 255);


//Card themes
$purple-background: rgb(237, 233, 254);
$purple-icon: rgb(87, 72, 174);

$pink-background: rgb(253, 234, 249);
$pink-icon: rgb(142, 67, 86);

$green-background: rgb(232, 249, 242);
$green-icon: rgb(17, 152, 96);

