.profile-photo {
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    background: rgb(232 234 242);
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}
