@import '../../../../assets/styles/colors.scss';

.profile-photo {
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    background: $color-disabled-background;
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}
