<div class="autocomplete relative">
  <span class="absolute inset-y-0 left-0 flex items-center pl-3">
    <svg class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m4-5a9 9 0 11-18 0 9 9 0 0118 0z"/>
    </svg>
  </span>
  <input
    type="text"
    placeholder="Pesquisar..."
    (keyup)="filterItems($event)"
    class="pl-10 pr-10 px-3 py-3 border-indigo-700 placeholder-blueGray-300 text-blueGray-600 rounded-lg w-full ease-linear transition-all duration-150"
  >

  <span *ngIf="isLoading" class="loading-spinner autocomplete__icon">
    <ng-icon class="autocomplete__refresh" name="heroRefresh"></ng-icon>
  </span>

  <ul *ngIf="filteredItems.length > 0 || noResultsFound">
    <li *ngIf="noResultsFound">Nenhum resultado encontrado</li>
    <li *ngFor="let item of filteredItems" (click)="selectItem(item); filteredItems = []">{{ item.name }}</li>
  </ul>
</div>
