<app-s-label *ngIf="label" [id]="id + '--label'" [target]="id + '--input'" [value]="label"
[required]="control?.errors?.required"></app-s-label>

<div class="quantity-input">
  <app-s-button size="square" type="light" icon="heroMinus" class="mr-2" (click)="handreQtd(false)"></app-s-button>

  <input
  autocomplete="off"
  type="text"
  [id]="id"
  [name]="name+'--field'"
  [formControlName]="formControlName"
  [minlength]="minlength"
  [maxlength]="maxlength"
  [placeholder]="placeholder"
  [readonly]="readonly"
  [autofocus]="autofocus"
  (focus)="focus.emit($event)"
  (blur)="blur.emit($event)"
  (input)="handleInput($event)"
  aria-label="Campo de texto"
  class="px-3 py-3 border-indigo-700 placeholder-blueGray-300 text-blueGray-600 rounded-lg w-full ease-linear transition-all duration-150"/>

  <app-s-button size="square" type="light" icon="heroPlus" class="ml-2" (click)="handreQtd(true)"></app-s-button>

</div>

<div *ngIf="messageError">
  <app-s-error [id]="id + '--error'" [control]="control" *ngIf="!messageError"></app-s-error>
</div>
