.auth {
  background-image: url('../../../assets/img/bg/auth.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-color: #f0f0f0;

  &-fullscreen {
    width: 100%;
    height: auto;
    position: relative;
    padding: 32px;
  }

  

  &-s-logo{
    padding-bottom: 32px;
  }
}
