<div class="card-list mt-4 mb-4" *ngFor="let item of getDisplayedItems()">
  <div class="card-list__header mr-4">
    <div class="card-list__header-icon" [style]="getHeaderStyle(item.theme)">
      <ng-icon [name]="getIcon(item.theme)" style="font-size: 28px;"></ng-icon>
    </div>
  </div>
  <div class="card-list__content">
    <h1>{{item.title}}</h1>
    <span *ngIf="item.description">{{item.description}}</span>
  </div>
</div>

<div class="card-list__no-content" *ngIf="!items || items.length === 0">
  <h1 class="mb-2"><b>Você ainda não criou suas listas</b></h1>
  <span>{{help}}</span>
</div>

<div class="card-list__no-content-button mt-8">
  <app-s-button type="light" size="full" (click)="onClick()" [name]="textButton!"></app-s-button>
</div>
