@import 'src/assets/styles/colors.scss';

.my {
  &-list {
    padding: 0 16px;
  }

  h1 {
    line-height: 1.2;
    font-size: 18px;
    font-weight: 700;
    color: $color-subdued;
  }
}

.container {
  display: flex;
}

.item {
  width: 200px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 10px;
}

.item-content {
  padding: 10px;
}

.menu {
  position: absolute;
  top: 0;
  right: -100px;
  width: 100px;
  background-color: #fff;
  border-left: 2px solid #ddd;
  border-radius: 0 8px 8px 0;
  transition: right 0.3s ease;
}

.menu.show {
  right: 0;
}

.option {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #f0f0f0;
  border: none;
}

.option:hover {
  background-color: #e0e0e0;
}
