<div class="container mx-auto">
  <div class="home-header">
    <h1>Gerencie suas compras de forma inteligente</h1>
    <p>Facilite suas idas ao supermercado!</p>

    <div>
      <app-s-button type="dark" [routerLink]="['/auth/login']">Acesse sua conta</app-s-button>
    </div>
  </div>

  <div class="home-image">
    <img src="assets/img/ilustracoes/personal-checklist.svg"
      alt="Acesse sua conta agora e comece a gerenciar suas compras de onde estiver!">
  </div>

  <div class="home-footer pb-3">
    <p class="text-center">Use também sem precisar criar conta</p>

    <div class="display-flex">
      <app-s-button type="inline" [routerLink]="['/page/home']">Acesse sem conta</app-s-button>
    </div>

  </div>

</div>
