<main class="auth h-full">

  <section class="auth-fullscreen">
    <div class="auth-s-logo">
      <img src="assets/img/logo/s-logo-n.svg" alt="Sebastian, seu app de gerenciamento">
    </div>
    <div class="container mx-auto">
      <div class="home-header">
        <h1>Gerencie suas compras de forma inteligente</h1>
        <p>Facilite suas idas ao supermercado!</p>

        <div class="mt-8">
          <app-s-button type="dark" size="full" [routerLink]="['/auth/access/login']">Iniciar</app-s-button>
        </div>
      </div>
    </div>
  </section>
</main>



